#scoreBoard{
    background-color:rgb(9, 15, 66);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 45%;
    border-color: rgb(209, 196, 74);
    border-width: thick;
    border-radius: 10px;
    margin: 0 auto;
}

.team{
    color: white;
}

.score{
    color: rgb(189, 65, 65);
    background-color: black;
    
}

.btn-style{
    padding-bottom: 25px;
}

.btn{
    background-color: inherit;
    border-color: white;
    color: white;
    border-width: thin;
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
}