body{
    background-image: url("giphy.gif");
    background-size: cover;
    font-family: -apple-system, BlackMacSystemFont;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#btn {
    background: darkred;
}

#save-btn {
    background: rgb(3, 95, 102);
}

#entries {
    display: flex;
    /*border-width: 40px;*/
    border-color:brown;
    border: 10px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    
}